"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "text.html.php": [
        "php"
      ]
    disabledPackages: [
      "emmet"
      "git-plus"
      "project-manager"
      "atom-beautify"
      "set-syntax"
      "linter-markdown"
      "linter"
      "terminal-plus"
      "tree-view"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "3160985d-f38b-d1a4-2f78-6f3d87451c40"
  "file-icons":
    forceShow: true
  "file-types":
    php: "code.php"
  "git-diff": {}
  "git-plus": {}
  "highlight-selected": {}
  linter: {}
  "linter-eslint": {}
  "linter-php":
    executablePath: "/usr/bin/php"
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-adb-logcat": {}
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-distraction-free-mode":
      hideFindAndReplace: true
      hideStatusBar: true
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-flow":
      enableStructuredTypeHints: true
      pathToFlow: "/Users/yfang/.nvm/versions/node/v6.3.1/bin/flow"
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-notifications": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-working-sets":
      workingSets: [
        {
          name: "TA"
          active: true
          uris: [
            "/Users/yfang/Code/Preference"
            "/Users/yfang/Code/TA"
            "/Users/yfang/Downloads"
            "/Users/yfang/tr-data"
            "/Users/yfang/tr-images"
            "/Users/yfang/tr-langs"
            "/Users/yfang/trsrc-MAINLINE"
            "/Users/yfang/trsrc-branch"
          ]
        }
        {
          name: "DBDCapital"
          active: true
          uris: [
            "/Users/yfang/Code/DBDCapital"
            "/Users/yfang/Code/Preference"
          ]
        }
      ]
    use: {}
  pigments: {}
  "symbols-tree-view": {}
  tabs:
    usePreviewTabs: true
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Left"
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
  whitespace: {}
