[user]
  email = yinanfang@gmail.com
  name = Lucas Fang
[push]
  default = simple
[alias]
  st = status
  ci = commit -v
  co = checkout
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
[core]
  excludesfile = /Users/lucas.fang/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[commit]
  template = /Users/yfang/.stCommitMsg
[gerrit]
  username = yfang
[credential]
  # cache the result for 20 days. 30 days doesn't work
  helper = cache --timeout=1728000

