[user]
	email = yinanfang@gmail.com
	name = Lucas Fang
[push]
	default = simple
[alias]
  st = status
  ci = commit -v
  co = checkout
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
[core]
	excludesfile = /Users/lucas.fang/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/yfang/.stCommitMsg
[gerrit]
	username = yfang
[credential]
	helper = cache --timeout=2592000
