{
    "rules": {
        "indent": [2, 2, {"SwitchCase": 1}],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-console": [0],
        "comma-dangle": [2, "always-multiline"],
        "no-unused-vars": [2, {"vars": "all", "args": "none"}]
    },
    "env": {
        "node": true,
        "browser": true,
        "jquery": false
    },
    "extends": "eslint:recommended"
}

// Reference to reset all: https://gist.github.com/cletusw/e01a85e399ab563b1236
