"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "text.html.php": [
        "php"
      ]
    disabledPackages: [
      "emmet"
      "tree-view"
      "git-plus"
      "project-manager"
      "atom-beautify"
      "set-syntax"
      "linter-markdown"
      "linter"
    ]
    themes: [
      "atom-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "3160985d-f38b-d1a4-2f78-6f3d87451c40"
  "file-icons":
    forceShow: true
  "file-types":
    php: "code.php"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-plus": {}
  "highlight-selected": {}
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-php":
    executablePath: "/usr/bin/php"
  "merge-conflicts": {}
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-adb-logcat": {}
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-clang-atom": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-working-sets":
      workingSets: [
        {
          name: "FanCard"
          active: true
          uris: [
            "/Users/compass/Code/FanCard"
          ]
        }
        {
          name: "My Stuff"
          active: false
          uris: [
            "/Users/compass/Code/DBDCapital"
            "/Users/compass/Code/GoldenCompass"
            "/Users/compass/Code/GoldenCompass-Old"
            "/Users/compass/Code/Preference"
          ]
        }
      ]
  pigments: {}
  tabs:
    usePreviewTabs: true
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Left"
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
  whitespace: {}
